
<%= image_tag("ERDRails.jpg", :alt => "ERD") %>

<p>
  Website Description:

  This application shows the expenses from the city councilors in Winnipeg.s
  This site gets data from the city of WInnipeg Open data portal.  It lists the councilors expenses.<br />
  The ERD also has a table for the different wards and Expense Types.
</p>